div {
  border: 1px solid red;
} 

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.container {
  background-color: lightgray;
}
.container-fluid {
  background-color: lightgray;
}
.headerlogo img {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.welcommessage {
  align-content: center;
  text-align:  center;
}

.welcommeemployee li {
  font-size: 1.2em;
}


.contentconfirmed {
  align-content: center;
  text-align:  center;
}

td {
  text-align: center;
}

#labellettering {
 padding-left: 150px;
}
#updatebtn {
  text-align:center;
  align-content: center;
}

#mediainputform {
  font-size: 1.2em;
}
.fas {
  color: #887A79;
}

#footer {
	padding: 40px 0px 10px 0px;
	background-color: black;
	color: white;
}
#footer a {
  text-align: center;
}